{{>layout/header}}
{{#noSummoner}}
    <table class="summoner-noSummoner" style="width: 100%; height: 100vh; display: flex; justify-content: center; align-items: flex-start;">
        <tr>
            <td >
                <p style="font-size: 25px; text-align: center; margin-top: 50px; font-weight: bold;">존재하지 않는 소환사명입니다.</p>
            </td>
        </tr>
    </table>
{{/noSummoner}}
{{#yesSummoner}}
    <table class="summoner-profile">
        <tr>
            <td>
                <img class="profile-icon" src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/profileicon/{{profileIconId}}.png">
                <h3 class="summoner-name">{{name}}</h3>
                <p class="summoner-level">레벨 : {{summonerLevel}}</p>
            </td>
        </tr>
    </table>
{{/yesSummoner}}
<table>
    {{#unranked}}
        <tr>
            <td>
                <p class="summoner-rank unranked">UNRANKED</p>
            </td>
        </tr>
    {{/unranked}}
    {{#leagueEntryDTOS}}
        <tr>
            <td>
                <div class="summoner-rank">
                    <p class="queue-type">{{queueType}}</p>
                    <img src="https://opgg-static.akamaized.net/images/medals_new/{{tier}}.png?image=q_auto,f_webp,w_144&v=1683869446164">
                    <p class="tier-rank">{{tier}} {{rank}}</p>
                    <p class="league-points">리그 포인트 : {{leaguePoints}}</p>
                    <p class="win-loss">{{total}}전 {{wins}}승 {{losses}}패</p>
                    <p class="win-percent">승률 {{winsPercent}}%</p>
                </div>
            </td>
        </tr>
    {{/leagueEntryDTOS}}
</table>
{{#noCurrentGame}}
    {{#noCurrentGameSummoner}}
        <table style="text-align: center; margin: 0 auto;">
            <tr>
                <td style="padding: 10px; background-color: #f5f5f5; border: 1px solid #ddd;">
                    <p style="font-size: 18px;">
                    <p><strong style="font-size: 24px;">{{name}}</strong> 님은 현재 게임 중이 아닙니다.</p>
                    </p>
                </td>
            </tr>
        </table>
    {{/noCurrentGameSummoner}}
{{/noCurrentGame}}
{{#matchContainers}}
    <table align="center" style="transform: translateY(-50%);" class="alert alert-success" role="alert">
        <thead>
        <tr>
            <th>{{queueType2}}</th>
            <th rowspan="4"><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{championName}}.png" alt="Image" width="100" height="100"></th>
            <div class="spell-perk" style="margin-right: 30px;">
                <th rowspan="4"><img src="https://opgg-static.akamaized.net/meta/images/lol/spell/{{summoner1Id}}.png?image=q_auto,f_webp,w_44&v=1684225762295" alt="Image" width="30" height="30">
                    <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{{mainPerk}}.png" alt="Image" width="30" height="30">
                    <br><img src="https://opgg-static.akamaized.net/meta/images/lol/spell/{{summoner2Id}}.png?image=q_auto,f_webp,w_44&v=1684225762295" alt="Image" width="30" height="30">
                    <img src="https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/{{subStyle}}.png" alt="Image" width="30" height="30"></th>
            </div>
            <th>kda : {{kills}}/{{deaths}}/{{assists}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{topChampName1}}.png" alt="Image" width="30" height="30"></th>
            <th>{{topUser1}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{topChampName2}}.png" alt="Image" width="30" height="30"></th>
            <th>{{topUser2}}</th>
        </tr>
        <tr>
            <th>{{timeAgo}}</th>
            <th>평점 : {{kda}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{jungleChampName1}}.png" alt="Image" width="30" height="30"></th>
            <th>{{jungleUser1}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{jungleChampName2}}.png" alt="Image" width="30" height="30"></th>
            <th>{{jungleUser2}}</th>
        </tr>
        <tr>
            <th></th>
            <th>킬관여 {{killsPartRate}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{midChampName1}}.png" alt="Image" width="30" height="50"></th>
            <th>{{midUser1}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{midChampName2}}.png" alt="Image" width="30" height="30"></th>
            <th>{{midUser2}}</th>
        </tr>
        <tr>
            <th>{{isWins}}</th>
            <th>CS {{totalCs}} ({{csPerMin}})</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{adChampName1}}.png" alt="Image" width="30" height="30"></th>
            <th>{{adUser1}}</th>
            <th><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{adChampName2}}D.png" alt="Image" width="30" height="30"></th>
            <th>{{adUser2}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{gameMinutes}}분 {{gameSeconds}}초</td>
            <td colspan="2"><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item0}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item1}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item2}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item3}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item4}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item5}}.png" alt="Image" width="30" height="30">
                <img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/item/{{item6}}.png" alt="Image" width="30" height="30"></td>
            <td>제어와드 {{visionWard}}</td>
            <td><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{supChampName1}}.png" alt="Image" width="30" height="30"></td>
            <td>{{supUser1}}</td>
            <td><img src="http://ddragon.leagueoflegends.com/cdn/13.9.1/img/champion/{{supChampName2}}.png" alt="Image" width="30" height="30"></td>
            <td>{{supUser2}}</td>
        </tr>
        </tbody>
    </table>
{{/matchContainers}}
{{>layout/footer}}