<style>
    .perk {
        background-color: aquamarine;
    }
    .counter {
        background-color: pink;
    }
    .spell {
        background-color: skyblue;
    }
    .item {
        background-color: #f1f165;
    }
    .info {
        background-color: darkgray;
    }
</style>