{{>layout/header}}
<h1>Play.GG</h1>
<table>
    <tr>
        <th>게임 타입</th>
        <th>게임 결과</th>
        <th>캐리 수치</th>
        <th>게임 시간</th>
        <th>킬/데스/어시스트</th>
    </tr>
    <tr>
        <td>솔랭</td>
        <td>승리</td>
        <td>100%</td>
        <td>25분 43초</td>
        <td>10/2/5</td>
    </tr>
    <tr>
        <td>자유랭크</td>
        <td>패배</td>
        <td>80%</td>
        <td>38분 16초</td>
        <td>5/8/12</td>
    </tr>
    <tr>
        <td>일반</td>
        <td>승리</td>
        <td>50%</td>
        <td>18분 32초</td>
        <td>4/1/8</td>
    </tr>
</table>
{{>layout/footer}}